#body-user {
	div.files-list {
		--row-height: 55px;

		@media only screen and (max-width: 1023px) {
			--row-height: 65px;
		}
	}
}

#content-vue {
	margin: 0;
	width: 100%;
	border-radius: 0;
}

#body-login {
 .svg.icon-confirm {
	background-size: 24px;
 }
}
