:root {
	--ion-breadcrumb-text: var(--ion-color-secondary);
	--ion-breadcrumb-text-hover: var(--ion-color-blue-b4);
	--ion-breadcrumb-text-active: var(--ion-color-blue-b5);
	--ion-breadcrumb-text-disabled: var(--ion-color-cool-grey-c4);

	--ion-files-list-background-hover: var(--ion-color-blue-b1);
	--ion-files-list-icon: var(--ion-color-blue-b4);

	--ion-context-menu-background: var(--color-main-background);
	--ion-context-menu-border: var(--ion-color-blue-b4);
	--ion-context-menu-item-background-hover: var(--ion-color-blue-b1);
	--ion-context-menu-item-background-active: var(--ion-color-blue-b2);
	--ion-context-menu-item-background-disabled: var(--ion-context-menu-background);
	--ion-context-menu-item-text: var(--ion-color-secondary);
	--ion-context-menu-item-text-disabled: var(--ion-color-cool-grey-c4);
}

#body-user {
	.files-list__filters {
		display: none;
	}
	.files-list__thead, .files-list__thead-overlay {
		top: 0;
	}

	.files-list__header {
		margin-top: 20px;
		margin-right: 16px;
		margin-bottom: 14px;
	}

	thead.files-list__thead tr,
	tbody.files-list__tbody.files-list__tbody--list tr,
	tfoot.files-list__tfoot tr {
		padding-right: 44px;
		padding-left: 4px;
	}

	.files-list__header-grid-button {
		position: absolute;
		top: 88px;
		right: 20px;
		z-index: 33;
	}

	.files-list__refresh-icon {
		position: absolute;
		right: 50%;
	}

	.breadcrumb nav {
		flex-grow: 1;
	}

	.files-list__column-sort-button-icon {
		svg {
			width: 18px;
			height: 18px;
		}
	}

	div.files-list__header:has(div.files-list__breadcrumbs), .file-picker {
		div.files-list__breadcrumbs, .file-picker__breadcrumbs {
			ul.breadcrumb__crumbs {
				a, a:hover, a:active, a:disabled, button {
					padding: 2px 0;
					font-weight: 400;
					color: var(--ion-breadcrumb-text-default);
					background-color: var(--color-main-background);

					span.button-vue__text {
						color: var(--ion-breadcrumb-text-default);
						font-weight: 400;
						&:hover {
							color: var(--ion-breadcrumb-text-hover);
						}
						&:active {
							color: var(--ion-breadcrumb-text-active);
						}
						&:disabled {
							color: var(--ion-breadcrumb-text-disabled);
						}
					}
				}

				/* ensure the icon-only buttons look correct */
				button.button-vue--icon-only, a.button-vue--icon-only svg {
					background-color: transparent;
					color: var(--ion-breadcrumb-text);
					padding: 2px 0;
					&:hover {
						color: var(--ion-breadcrumb-text-hover);
						background-color: inherit;
					}
					&:active {
						color: var(--ion-breadcrumb-text-active);
						background-color: inherit;
					}
					&:disabled {
						color: var(--ion-breadcrumb-text-disabled);
						background-color: inherit;
					}
					&:focus {
						background-color: inherit;
					}
					span[role=img]>svg.material-design-icon__svg {
						color: inherit;
					}
				}

				.vue-crumb {
					align-items: center;
				}

				.vue-crumb__separator {
					color: var(--ion-breadcrumb-text);
				}
			}
		}
	}

	div[data-cy-files-list].files-list {
		.files-list__row {
			&:hover ,&.active {
				background-color: var(--ion-files-list-background-hover);
			}
			.files-list__row-icon {
				color: var(--ion-files-list-icon);
			}
			.files-list__row-actions {
				.action-items {
					color: var(--ion-files-list-icon);
				}	
				.icon-vue {
					color: var(--ion-files-list-icon);
				}
				.material-design-icon{
					color: var(--ion-files-list-icon);
				}
			}
		}
	
		/* mobile and tablet */
		@media only screen and (max-width: 1199px) {
			.files-list__filters {
				height: auto;
			}
		}
	}
	
	/* Context Menu */
	div.v-popper--theme-dropdown.v-popper__popper:has(.v-popper__wrapper) {
		border-radius: 16px;
		filter: none;
	
		div.v-popper__wrapper {
			border-radius: inherit;
			border: 1px solid var(--ion-context-menu-border);
	
			div.v-popper__inner {
				padding: 2px 12px;
				background-color: var(--ion-context-menu-background);
	
				li.action:has(button.action-button) {
					&.active {
						background-color: var(--ion-context-menu-item-background-hover);
					}
	
					button.action-button {
						border-radius: 8px;
						color: var(--ion-context-menu-item-text);
						font-style: normal;
						font-weight: 600;
						margin-top: 12px;
						margin-bottom: 12px;

						&:active {
							background-color: var(--ion-context-menu-item-background-active);
						}

						&:disabled {
							color: var(--ion-context-menu-item-text-disabled);
							background-color: var(--ion-context-menu-item-background-disabled);
							cursor: not-allowed;
						}
					}
				}
			}

			div.v-popper__arrow-container:has(div.v-popper__arrow-inner) {
				display: none;
			}
		}
	}
}
