@media only screen and (max-width: 1024px) {
	#body-public header #header-primary-action {
		display: none;
	}
}

@media only screen and (min-width: 1025px) {
	#body-public header #header-actions-menu > ul > li#download {
		display: none;
	}
}

#content.app-files_sharing {
	margin: 0;
	display: flex;
	width: 100%;
	height: 100%;
	border-radius: 0;
	box-sizing: content-box;

	/* icons size */
	a.icon-home,
	label.button.icon-toggle-pictures,
	label.button.icon-toggle-filelist {
		background-size: 16px;
	}

	div#files-public-content, #public-upload {
		margin-bottom: var(--footer-height);

		.files-controls {
			height: 80px;
			padding: 22px 16px;

			.actions.creatable {
				position: absolute;
				right: 16px;

				.button.new {
					background-color: var(--ion-button-primary-background-default);
					color: var(--ion-button-primary-text);
					border: none;
					border-radius: 30px;
					padding: 7px 16px;
					min-height: 36px;
					height: 36px;

					&:disabled {
						background-color: var(--ion-button-primary-background-disabled);
						color: var(--ion-button-primary-text-disabled);
					}

					&:hover:not(:disabled):not(.button-vue--disabled) {
						background-color: var(--ion-button-primary-background-hover);
						border-color: var(--ion-button-primary-background-hover);
					}

					&:active:not(:disabled):not(.button-vue--disabled) {
						background-color: var(--ion-button-primary-background-active);
						border-color: var(--ion-button-primary-background-active);
					}

					.icon-add {
						filter: var(--ion-icon-filter-secondary-text-hover);
						opacity: 1;
					}
				}

				.newFileMenu {
					top: 50px;
					padding: 12px;
					background-color: var(--ion-color-main-background);
					border: 1px solid var(--ion-context-menu-border);
					border-radius: 16px;
					z-index: 100;

					&::after {
						display: none;
					}

					ul {
						gap: 12px;
					}
				}

				#uploadprogresswrapper {
					position: absolute;
					right: 120px;

					:has([style*="display:none"]) {
						display: none;
					}
				}
			}
		}


		#imgframe {
			padding-bottom: 16px;

			&:not(:has(#viewer)) {
				margin-top: 12vh;
			}
		}

		#downloadFile.button, div#emptycontent > .button.icon-upload {
			margin-top: 48px;
			background-color: var(--ion-button-secondary-background-default);
			border: var(--ion-button-secondary-border-default);
			color: var(--ion-button-secondary-text);
			border-radius: 50px;
			font-size: 14px;
			padding: 8px 16px;
			min-height: 36px;
			height: 36px;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			gap: 6px;
			opacity: 1;

			.icon {
				filter: var(--ion-icon-filter-blue-b8);
				opacity: 1;
			}

			&:not(:has(> .icon)) {
				padding-left: 42px;

				&:hover::before {
					content: "";
					width: 16px;
					height: 16px;
					background-image: inherit;
					filter: var(--ion-icon-filter-secondary-text-hover);
					position: relative;
					margin-left: -26px;
					margin-right: 6px;
				}
			}

			&:hover {
				background-color: var(--ion-button-secondary-background-hover);
				color: var(--ion-button-secondary-text-hover);
				opacity: 1;

				.icon {
					filter: var(--ion-icon-filter-secondary-text-hover);
					opacity: 1;
				}
			}

			&:active {
				background-color: var(--ion-button-secondary-background-active);
				border-color: var(--ion-button-secondary-background-active);
				color: var(--ion-button-secondary-text-active)
			}

			&:disabled {
				background-color: var(--ion-button-secondary-background-disabled);
				color: var(--ion-button-secondary-text-disabled);
			}
		}

		div#emptycontent, .emptycontent {
			.icon-folder, &:not(:hover) .icon-upload {
				filter: var(--ion-icon-filter-blue-b8);
				opacity: 1;
			}
		}

		.breadcrumb {
			.icon-more.menutoggle {
				background-size: 17px;
			}

			.crumbhome a {
				padding: 12px 12px 12px 35px;
				background-image: var(--icon-home-dark);
				background-repeat: no-repeat;
				background-size: 16px;
				background-position: 4px 15px; opacity: 1;
			}

			li.crumb {
				height: 51px; a {
					color: var(--ion-color-secondary);
					opacity: 1;
				}
			}
		}
	}

	.thumbnail {
		background-image: var(--original-icon-category-files-dark);
	}


	#view-toggle {
		top: 85px;
		right: 20px;
		position: relative;
		z-index: 61;
		filter: var(--ion-icon-filter-blue-b8);
		opacity: 1;
		background-color: transparent;
	}

	.files-filestable.list-container {
		tr {
			td:last-child {
				padding-right: 44px;
			}

			th:last-child {
				padding-right: 60px;
			}

			.columntitle {
				color: var(--ion-color-secondary);
				font-weight: 600;
			}

			.sort-indicator {
				filter: var(--ion-icon-filter-blue-b8);
				opacity: 1;
			}

			.fileactions {
				display: flex;
				align-items: center;
				padding: 6px;

				a.action[data-action="menu"] {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 32px;
					height: 32px;
					border-radius: 30px;
					padding: 0;
					filter: var(--ion-icon-filter-blue-b4);
					opacity: 1;

					&:focus {
						filter: none;

						.icon {
							filter: var(--ion-icon-filter-blue-b4);
						}
					}

					&:hover {
						background-color: var(--ion-color-blue-b4);
						filter: none;

						.icon {
							filter: var(--ion-icon-filter-secondary-text-hover);
						}
					}
				}

			}
		}

		.checkbox+label:before {
			border: 2px solid var(--ion-color-cool-grey-c5);
		}

		.checkbox:hover+label:before  {
			border-color: var(--ion-color-blue-b4);
		}

		.checkbox:checked+label:before {
			background-color: var(--ion-color-blue-b4);
			border-color: var(--ion-color-blue-b4);
		}

		&.view-grid tbody {
			border-bottom: 1px solid var(--color-border);
			padding-bottom: 15px;

			td.selection {
				background-color: transparent;

				label {
					display: grid;
				}
			}

			.thumbnail-wrapper {
				display: flex;
				justify-content: center;
				padding: 0;

				.thumbnail {
					width: 100%;
					height: 100%;

					&[style*="filetypes/"] {
						background-size: 64%;
					}
				}
			}

			tr:not(:hover):not(.selected) .nametext {
				background-color: var(--ion-color-main-background);
			}
		}
	}

	.popovermenu {
		li {
			.menuitem:hover {
				background-color: var(--ion-files-list-background-hover);
			}

			.icon {
				filter: var(--ion-icon-filter-blue-b8);
			}
		}
	}
}

#notemenu {
	#note-content {
		display: none;
	}

	&:has(div[aria-expanded="true"]) {
		#note-content {
			border: 1px solid var(--ion-dropdown-classic);
			box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.25);
			width: 388px;
			height: 108px;
			border-radius: 16px;
			padding: 18px 16px;
			top: 80px;
			right: 0;
			position: absolute;
			background-color: var(--ion-color-main-background);
			color: var(--ion-text);

			@media screen and (max-width: 388px) {
				width: calc(100vw - 67px);
				display: block;
				margin: 0 16px;
			}
		}
	}

	.menutoggle {
		width: 24px;
		height: 44px;
		background-size: 24px;
		cursor: pointer;
		@media (prefers-color-scheme: light) {
			background-image: var(--icon-comment-dark);
			filter: var(--ion-icon-filter-secondary);
		}

		@media (prefers-color-scheme: dark) {
			background-image: var(--icon-comment-light);
		}
	}
}

#ionos-global-nav {
	+ div.header-info {
		background-color: var(--ion-color-main-background);
		font-weight: bolder;
	}

	#header-primary-action a {
		background-color: var(--ion-button-secondary-background-default);
		border: var(--ion-button-secondary-border-default);
		color: var(--ion-button-secondary-text);
		border-radius: 50px;
		font-size: 14px;
		padding: 8px 16px;

		&:not(:hover) ionos-icons {
			filter: var(--ion-icon-filter-blue-b8);
		}

		&:hover {
			background-color: var(--ion-button-secondary-background-hover);
			color: var(--ion-button-secondary-text-hover);

			ionos-icons {
				filter: var(--ion-icon-filter-secondary-text-hover);
			}
		}

		&:active {
			background-color: var(--ion-button-secondary-background-active);
			border-color: var(--ion-button-secondary-background-active);
			color: var(--ion-button-secondary-text-active)
		}

		&:disabled {
			background-color: var(--ion-button-secondary-background-disabled);
			color: var(--ion-button-secondary-text-disabled);
		}

		&:not(:disabled):focus {
			box-shadow: none;
		}

		.download {
			margin-right: 8px;
		}
	}

	#header-actions-toggle {
		cursor: pointer;
		background-color: var(--ion-color-main-background);;
	}

	#header-actions-menu {
		&.open.popovermenu {
			max-width: 468px;
			margin-right: 22px;
			padding: 12px;
			border-radius: 16px;
			border: 1px solid var(--ion-dropdown-classic);
			background-color: var(--ion-color-main-background);
			color: var(--ion-text);

			ul {
				display: flex;
				flex-direction: column;
				gap: 12px;

				.menuitem {
					padding-right: 0 !important;
				}

				input#directLink {
					margin-left: 0;
				}

				li {
					a:hover, button:hover {
						background-color: var(--ion-files-list-background-hover);
					}

					button:hover, button:focus {
						filter: none;
					}

					.icon {
						filter: var(--ion-icon-filter-blue-b8);
					}
				}
			}
		}
	}
}

.header-info {
	&:not(:has(+ #content .directDownload)) {
		display: none;
	}

	.header-title {
		margin: 28px 0 28px 16px;
		color: var(--ion-text);
		font-size: 16px;
		font-style: normal;
		font-weight: 600;
		line-height: 24px;
	}
}

.guest-box {
	background-color: var(--ion-color-cool-grey-c1);
	border-radius: 16px;
	padding: 16px;
	width: 85%;
	max-width: 466px;
	min-width: fit-content;

	fieldset {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 13px;

		p {
			width: 100%;
		}
	}
}
