#body-user {
	.files-list__filters {
		display: none;
	}
	.files-list__thead, .files-list__thead-overlay {
		top: 0;
		.files-list__row-head .files-list__column--sortable .button-vue__text {
			@media only screen and (max-width: 1023px) {
				font-size: 16px;
			}
		}
	}

	.files-list__header {
		margin-top: 20px;
		margin-right: 16px;
		margin-bottom: 14px;
		@media only screen and (max-width: 1023px) {
			margin-top: 15px;
		}
	}

	thead.files-list__thead tr,
	tbody.files-list__tbody.files-list__tbody--list tr,
	tfoot.files-list__tfoot tr {
		padding-right: 44px;
		padding-left: 4px;
	}

	.files-list__header-grid-button {
		position: absolute;
		top: 88px;
		right: 20px;
		z-index: 33;
	}

	.files-list__refresh-icon {
		position: absolute;
		right: 50%;
	}

	.breadcrumb nav {
		flex-grow: 1;
	}

	.files-list__column-sort-button-icon {
		svg {
			width: 18px;
			height: 18px;
		}
	}

	div.files-list__header:has(div.files-list__breadcrumbs), .file-picker {
		div.files-list__breadcrumbs, .file-picker__breadcrumbs {
			ul.breadcrumb__crumbs {
				a, a:hover, a:active, a:disabled, button {
					padding: 2px 0;
					font-weight: 400;
					color: var(--ion-color-secondary);
					background-color: var(--color-main-background);

					span.button-vue__text {
						color: var(--ion-color-secondary);
						font-weight: 400;
						&:hover {
							color: var(--ion-color-blue-b4);
						}
						&:active {
							color: var(--ion-color-blue-b5);
						}
						&:disabled {
							color: var(--ion-color-cool-grey-c4)
						}
					}
				}

				/* ensure the icon-only buttons look correct */
				button.button-vue--icon-only, a.button-vue--icon-only svg {
					background-color: var(--color-main-background);
					color: var(--ion-color-secondary);
					padding: 2px 0;
					&:hover {
						color: var(--ion-color-blue-b4);
						background-color: inherit;
					}
					&:active {
						color: var(--ion-color-blue-b5);
						background-color: inherit;
					}
					&:disabled {
						color: var(--ion-color-cool-grey-c4);
						background-color: inherit;
					}
					&:focus {
						background-color: inherit;
					}
					span[role=img]>svg.material-design-icon__svg {
						color: inherit;
					}
				}

				.vue-crumb {
					align-items: center;
				}

				.vue-crumb__separator {
					color: var(--ion-color-secondary);
				}
			}
		}

		@media only screen and (max-width: 767px) {
			margin-inline: 0;

			div.breadcrumb {
				flex-direction: column-reverse;
				align-items: flex-start;

				nav {
					margin-left: 8px;
				}

				div.breadcrumb__actions {
					align-self: flex-end;

					&:has(div.v-popper) {
						position: sticky;
					}
				}
			}
		}
	}

	div[data-cy-files-list].files-list {
		.files-list__row {
			&:hover {
				background-color: var(--ion-color-blue-b1);
			}
			&.active {
				background-color: var(--ion-color-blue-b1);
			}
			.files-list__row-icon {
				color: var(--ion-color-blue-b4);
			}
			.files-list__row-actions {
				.action-items {
					color: var(--ion-color-blue-b4);
				}	
				.icon-vue {
					color: var(--ion-color-blue-b4);
				}
				.material-design-icon{
					color: var(--ion-color-blue-b4);
				}
			}
		}
	
		/* mobile and tablet */
		@media only screen and (max-width: 1199px) {
			.files-list__filters {
				height: auto;
			}
		}
	}

	div.v-popper--theme-dropdown.v-popper__popper:has(.v-popper__wrapper) {
		border-radius: 16px;
		filter: none;
	
		div.v-popper__wrapper {
			border-radius: inherit;
			border: 1px solid var(--ion-color-blue-b4);
	
			div.v-popper__inner {
				padding: 2px 12px;
				background-color: var(--color-main-background);
	
				li.action:has(button.action-button) {
					&.active {
						background-color: var(--ion-color-blue-b1);
					}
	
					button.action-button {
						border-radius: 8px;
						color: var(--ion-color-secondary);
						font-style: normal;
						font-weight: 600;
						margin-top: 12px;
						margin-bottom: 12px;

						&:active {
							background-color: var(--ion-color-blue-b2);
						}

						&:disabled {
							color: var(--ion-color-cool-grey-c4);
							background-color: var(--color-main-background);
							cursor: not-allowed;
						}
					}
				}
			}

			div.v-popper__arrow-container:has(div.v-popper__arrow-inner) {
				display: none;
			}
		}
	}
}
