#body-user {
	div[data-cy-files-navigation].app-navigation:has(nav#app-navigation-vue) {
		background-color: var(--ion-color-cool-grey-c1);
		.app-navigation-entry {
			span[role=img]>svg {
				height: 16px;
				width: auto;
			}
			border-radius: var(--border-radius-pill);
			&.active {
				background-color: var(--ion-color-cool-grey-c3) !important;
				.app-navigation-entry-link {
					color: var(--ion-color-secondary) !important;
				}
			}
			&:hover {
				background-color: var(--ion-color-cool-grey-c2);
			}

			/* fix Storage Quota color after click */
			&:focus-within:not(:active) { 
				background-color: var(--ion-color-cool-grey-c1);
			}
		}

		.app-navigation-entry--opened:has(.app-navigation-entry__children) {
			background: var(--ion-color-main-background);
			border-radius: 8px;
			.app-navigation-entry__children {
				padding: 0 8px;
				gap: 0;
				.app-navigation-entry {
					border-radius: 4px;
				}
				.app-navigation-entry-wrapper {
					background: var(--ion-color-main-background);
					border-radius: 8px;
					min-height: 40px;
					margin: 4px 0;
				}
			}
		}

		/* Navigation Toggle Button */
		div.app-navigation-toggle-wrapper button {
			margin: 6px 0;
			background-color: var(--ion-color-cool-grey-c2);
			span[role=img]>svg {
				color: var(--ion-color-secondary);
			}
			&:hover {
				background-color: var(--ion-color-cool-grey-c3);
				span[role=img]>svg {
					color: var(--ion-color-secondary);
				}
			}
		}

		/* Sub Navigation Toggle Icon Button */
		.button-vue--icon-only:not(.app-navigation-toggle) {
			margin: 6px;
			background-color: transparent;
			span[role=img]>svg {
				height: 16px;
				color: var(--ion-color-secondary);
			}
			&:hover {
				background-color: transparent;
				span[role=img]>svg {
					color: var(--ion-color-secondary);
				}
			}
		}
	}
}
