[data-cy-files-navigation].app-navigation {
	background-color: var(--ion-color-cool-grey-c1) !important;
	.app-navigation-entry {
		&.active[data-v-c00d5366] {
			background-color: var(--ion-color-cool-grey-c3) !important;
			.app-navigation-entry-link[data-v-c00d5366] {
				color: var(--ion-color-secondary) !important;
			}
			&:hover {
				background-color: var(--ion-color-cool-grey-c3) !important;
			}
		}
		&:hover {
			background-color: var(--ion-color-cool-grey-c2) !important;
		}
	}
	
	.app-navigation-entry--opened:has(.app-navigation-entry__children) {
		background: var(--ion-color-main-background) !important;
		.app-navigation-entry__children {
			gap: 0;
			.app-navigation-entry-wrapper {
				background: var(--ion-color-main-background) !important;
			}
		}
	}
}

