<?php
/**
 * SPDX-FileLicenseText: 2024 STRATO AG
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

namespace OCA\NcTheming\Themes;

class CustomCss {
	/**
	 * Generated custom CSS - Please run make build_css
	 */
	public static string $CSS = '
%%CSS_GOES_HERE%%
	';
}
